---
layout: default
gallery: 
 - column-size: col-6
   aspect-ratio: square
   background_image: /images/image-gallery/insta-grid-2.jpg
 - column-size: col-6
   aspect-ratio: square
   background_image: /images/image-gallery/insta-grid-5.jpg
 - column-size: col-4
   aspect-ratio: square
   background_image: /images/image-gallery/insta-grid-4.jpg
 - column-size: col-4
   aspect-ratio: square
   background_image: /images/image-gallery/insta-grid-3.jpg
 - column-size: col-4
   aspect-ratio: square
   background_image: /images/image-gallery/insta-grid-7.jpg
 - column-size: col-3
   aspect-ratio: square
   background_image: /images/image-gallery/insta-grid-8.jpg
 - column-size: col-3
   aspect-ratio: square
   background_image: /images/image-gallery/insta-grid-10.jpg
 - column-size: col-3
   aspect-ratio: square
   background_image: /images/image-gallery/insta-grid-11.jpg
 - column-size: col-3
   aspect-ratio: square
   background_image: /images/image-gallery/insta-grid-6.jpg
---

    <!-------------------------------- Menubar ----------------------------------->
    <header class="grid-middle padded-1">

        {% include header-nav.html %}   <!-- I just dit that to learn this how the inlude work, basically my header stays the same because I just changed the banenr and this is a separate section below -->
  
     </header>


     <!------------------------------- Responsive Image Gallery -------------------------------->

     <section class="padded">
        <div class="gallery grid">
  
            {% for item in page.gallery %}
            <div class="{{item.column-size}}"> 
                 <div class="bg-image {{item.aspect-ratio}}" 
                      style="background-image: url('{{item.background-image}}');"> 
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

         <!------------------------------- Responsive Image Gallery -------------------------------->
         <!---
         <section class="gallery grid">
  
            <div class="col-6"> 
               <div class="bg-image square bg-pos-b"> </div>
            </div>
            
            <div class="col-6"> 
               <div class="bg-image square bg-img-1 bg-pos-b"> </div>
            </div>
            
            <div class="col-4_xs-12">
              <div class="bg-image bg-img-2 portrait-tall"> </div>
            </div>
            
            <div class="col-4_xs-12"> 
              <div class="bg-image bg-img-3 portrait-tall"> </div>
            </div>
            
            <div class="col-4_xs-12"> 
               <div class="bg-image bg-img-4 portrait-tall"> </div>
            </div>
            
            <div class="col-12"> 
               <div class="bg-image bg-img-5 landscape bg-pos-b"> </div>
            </div>
        -->
           <!------- Advanced ---------->
           <!---
              <div class="col-4_xs-4"> 
               <div class="bg-image bg-img-4 mixed-grid-adjust"> </div>
            </div>
            
            <div class="col-8"> 
               <div class="bg-image bg-img-5 landscape bg-pos-b"> </div>
            </div>
            
        </section>
        --->