---
layout: default
title: Gallery
popup-gallery: true
gallery-background: bg-featured
gallery:
  - column-size: col-4_xs-12
    aspect-ratio: landscape-wide
    background_image: /images/index-header-1.jpg
    type: rabbit
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/image-gallery/insta-grid-5.jpg
    type: rabbit
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/image-gallery/insta-grid-4.jpg
    type: rabbit
  - column-size: col-4_sm-12
    aspect-ratio: square
    background_image: /images/index-header-2.jpg
    type: rabbit
  - column-size: col-4_xs-12
    aspect-ratio: landscape
    background_image: /images/index-header-3.jpg
    type: rabbit
  - column-size: col-4_xs-12
    aspect-ratio: square
    background_image: /images/image-gallery/insta-grid-8.jpg
    type: rabbit
  - column-size: col-4_xs-12
    aspect-ratio: square
    background_image: /images/image-gallery/insta-grid-10.jpg
    type: rabbit
  - column-size: col-4_xs-12
    aspect-ratio: square
    background_image: /images/index-header-4.jpg
    type: rabbit
  - column-size: col-4_xs-12
    aspect-ratio: square
    background_image: /images/image-gallery/insta-grid-6.jpg
    type: rabbit
---

<!-------------------------------- Menubar ----------------------------------->
    <header class="grid-middle padded-1">

        {% include header-nav.html %}   <!-- I just dit that to learn this how the inlude work, basically my header stays the same because I just changed the banenr and this is a separate section below -->
  
     </header>





    <!------------------------ clickable light gallery ----------------------->

    {% if page.popup-gallery == true %}


    <section class="portfolio padded {{page.gallery-background}}">
        <h2 class="center"> Pop Up Gallery </h2>
        <div class="gallery grid" id="lightgallery">
  
            {% for item in page.gallery %}
            {% if item.type == 'rabbit' or item.type == 'cat' %} <!-- != means does not equal dog, so everything else-->
            <a class="{{item.column-size}} gallery-container" href="{{item.background_image}}"> 
                <img src="{{item.background_image}}">
            </a>
            {% endif %}
            {% endfor %}
    
        </div>
    </section>

    {% else %}

     <!------------------------------- standard Responsive Image Gallery -------------------------------->

     <section class="padded {{page.gallery-background}}">
        <h2 class="center"> Standard Gallery </h2>
        <div class="gallery grid">
  
            {% for item in page.gallery %}
            <div class="{{item.column-size}}"> 
                 <div class="bg-image {{item.aspect-ratio}}" 
                      style="background-image: url('{{item.background_image}}');"> 
                </div>
            </div>

            {% endfor %}
        </div>
    </section>

    {% endif %}




    <!------------------------ clickable light gallery 2 ----------------------->

    <section class="padded">
        <h2 class="center"> Pop Up Gallery 2 </h2>
        <div class="gallery grid" id="lightgallery-2">

            <a class="button center" href="/images/image-gallery/insta-grid-5.jpg" title="Romantic Travel Couple 1"> 
                View our Work
            </a>
            <a href="/images/image-gallery/insta-grid-4.jpg" title="Romantic Travel Couple 1"> </a>
            <a href="/images/image-gallery/insta-grid-11.jpg" title="Romantic Travel Couple 1"> </a>
            <a href="/images/image-gallery/insta-grid-8.jpg" title="Romantic Travel Couple 1"> </a>
            <a href="/images/image-gallery/insta-grid-12.jpg" title="Romantic Travel Couple 1"> </a>
            <a href="/images/image-gallery/insta-grid-2.jpg" title="Romantic Travel Couple 1"> </a>

        </div>
    </section>

         <!------------------------------- Responsive Image Gallery -------------------------------->
         <!---
         <section class="gallery grid">
  
            <div class="col-6"> 
               <div class="bg-image square bg-pos-b"> </div>
            </div>
            
            <div class="col-6"> 
               <div class="bg-image square bg-img-1 bg-pos-b"> </div>
            </div>
            
            <div class="col-4_xs-12">
              <div class="bg-image bg-img-2 portrait-tall"> </div>
            </div>
            
            <div class="col-4_xs-12"> 
              <div class="bg-image bg-img-3 portrait-tall"> </div>
            </div>
            
            <div class="col-4_xs-12"> 
               <div class="bg-image bg-img-4 portrait-tall"> </div>
            </div>
            
            <div class="col-12"> 
               <div class="bg-image bg-img-5 landscape bg-pos-b"> </div>
            </div>
        -->
           <!------- Advanced ---------->
           <!---
              <div class="col-4_xs-4"> 
               <div class="bg-image bg-img-4 mixed-grid-adjust"> </div>
            </div>
            
            <div class="col-8"> 
               <div class="bg-image bg-img-5 landscape bg-pos-b"> </div>
            </div>
            
        </section>
        --->
