---
layout: default
title: Homepage
my_variable: promo-3.html
---
<!--- Now I only have to change the number to pull in anothr include (prebuilt promo banner)-->

    <!-------------------------------- Menubar ----------------------------------->
    <header class="grid-middle padded-1">

       {% include header-nav.html %}   <!-- I just dit that to learn this how the inlude work, basically my header stays the same because I just changed the banenr and this is a separate section below -->
 
    </header>

    <!-------------------------------- Panoramic Banner ----------------------------------->
    <section class="tall-80 bg-image light-text xxs-tall-40 flex relative">    
            <h2 class="be-panoramic xs-text-sm xxs-text-md editable" data-aos="fade-in" data-aos-duration="1000"> be <span class="underline">panoramic.</span> </h2> 
            <a href="#perspective" class="arrow-down mob-hide" data-aos="fade-up" data-aos-delay="200"> &#8595; </a>  
    </section>


    <!------------------------------------------------------------------- Test  ------------------------------------------------------->
    <!--------------------------- page variables ---------------------->
    {% if page.my_variable %}
        {% include {{ page.my_variable }} %}
    {% endif %}

    <!-------------------------- Data Files  ------------------------->
    <h2> {{ site.data.team.about }} <h2> 
        <p> We have a dream team of {{ site.data.team.about.number-of-employees }}, maybe you could be number {{ site.data.team.about.number-of-employees | plus: 1 }}? 
        </p>
        <a href="#"> {{ site.data.team.tagline }} </a>
    <h3>You can get our Product for {{ site.data.team.stats.stock-price }}</h3>

    {% for person in site.data.team.team-members %}

     <h2> {{ person.name }} </h2> 
     <h3> {{ person.title }} </h3>

    {% endfor %}

    <h1> Our Marketing Team </h1> 

    {% assign marketing-team = site.data.team.team-members | where: "team","Marketing" %}

    {% for person in marketing-team %}

	    <h2> {{ person.name }} </h2> 
	    <h3> {{ person.title }} </h3>

    {% endfor %}

    <!-------------------------------- Youtube Include ----------------------------------->
    {% include youtube.html youtube_id="mNUbV5fXglg" %}
    <!-------------------------------------------------------------------Test End--------------------------------------------------->


    <!-------------------------------- Give Perspective ----------------------------------->
    <section class="grid-spaceAround padded" id="perspective">

        <div class="col-4_sm-6_xs-8-middle sm-padded editable" data-aos="fade-down-right">
            <img src="/images/homepage-couple-1.jpg">
        </div>

        <div class="col-4_sm-6_xs-11-middle sm-padded editable" data-aos="fade-down-left">
            <h2> Give perspective. </h2>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse est hic soluta aliquam, omnis dicta facere incidunt. Hic dolor, maiores consequatur voluptatum illo, molestias ipsa culpa officiis numquam alias sint! </p>
        </div>

    </section>

    <!-------------------------------- Services ----------------------------------->
    <section class="grid-spaceAround padded center no-padding-top">

        <div class="col-12-middle padded-2">
            <h2> Services </h2>
        </div>

        <div class="col-3_sm-7_xs-10-middle bg-green-1 padded-2 sm-padded sm-margin">
            <img src="/Images/icons/icon-2.png" class="icon">
            <div class="center">
                <h3 class="margin-t-12 icon-heading"> Web<br> Development</h3>
               <a href="#" class="button"> More... </a>
            </div> 
        </div>

        <div class="col-3_sm-7_xs-10-middle bg-green-2 padded-2 sm-padded sm-margin">
            <img src="/Images/icons/icon-3.png" class="icon">
            <div class="center">
                <h3 class="margin-t-12 icon-heading"> Content<br> Creation</h3>
               <a href="#" class="button"> More... </a>
            </div> 
        </div>

        <div class="col-3_sm-7_xs-10-middle bg-green-3 padded-2 sm-padded sm-margin">
            <img src="/Images/icons/icon-1.png" class="icon">
            <div class="center">
                <h3 class="margin-t-12 icon-heading"> Social Media<br> Collaboration</h3>
               <a href="#" class="button"> More... </a>
            </div> 
        </div>

    </section>

    <!-------------------------------- Small Gallery Banner ----------------------------------->
    <section class="grid tall-70 xxs-tall-40">

        <div class="col-6 grid">
            <div class="col-12 bg-image bg-left-1"></div>
            <div class="col-12 bg-image bg-left-2"></div>
        </div>

        <div class="col-6 bg-image bg-right grid">

            <div class="col-12-right-bottom">
                <h3 class="big-bold-text uppercase right light-text padded-r-1 padded-b-1"> this is what we do. </h3>
            </div>
            
        </div>

    </section>



    <!-------------------------------- Quote ----------------------------------->
    <section class="grid padded-1">
        <div class="col-12-middle quote-divider center padded-b-05"> | </div>
        <div class="col-12-middle center padded-r-10 padded-l-10 sm-no-padding">
            <h4> Whether you think you can, or you think you can't - you're right. </h4>
            <span class="author"> - Henry Ford </span>
        </div>
        <div class="col-12-middle quote-divider center padded-t-05"> | </div>
    </section>

