<footer class="grid-spaceBetween padded padded-b-0">

    <div class="col-3_sm-5_xs-12-middle">
        <h1 class="footer-h1"> Pajurama <br> <span class="footer-ca"> Creative Agency </span></h1>
        <p class="margin-b-0 padded-t-5 sm-padded-t-1"> Based in Switzerland. </p>
        <p class="margin-b-05"> Constantly Traveling. </p>
        <a href="mailto:pajurama@gmail.com" class="email"> pajurama@gmail.com </a>
    </div>

    <nav class="col-3_xs-12-middle">
        <p class="links-footer underline xs-padded-08"> Links </p>
        <a href="/index.html" class="footer-bar"> Home </a>
        <a href="/about.html" class="footer-bar"> About </a>
        <a href="/services.html" class="footer-bar"> Services </a>
        <a href="/contact.html" class="footer-bar"> Contact </a>
    </nav>

    <div class="col-12-middle center padded-t-1">
        <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
        <a href="#"> <i class="fa-brands fa-pinterest"></i> </a>
        <a href="#"> <i class="fa-brands fa-youtube"></i> </a>   
    </div>

    <div class="col-12-middle center padded-t-2 padded-b-05">
        <p> Copyright 2022 </p>
    </div>
</footer>