<section class="grid padded-b-1">
    <div class="col-2_xs-4 bg-image bg-image-bf xs-padding-b bg-pre-1 border-l-0"></div>
    <div class="col-2_xs-4 bg-image bg-image-bf bg-pre-2"></div>
    <div class="col-2_xs-4 bg-image bg-image-bf bg-pre-3 xs-border-r-0"></div>
    <div class="col-2_xs-4 bg-image bg-image-bf xs-padding-b bg-pre-4 xs-border-l-0"></div>
    <div class="col-2_xs-4 bg-image bg-image-bf bg-pre-5"></div>
    <div class="col-2_xs-4 bg-image bg-image-bf bg-pre-6 border-r-0"></div>
</section>