<!DOCTYPE html>
<html>
   
    <head>
         {% include head.html %} 
         {{ page.title }}

    </head>

    <body>

         {% include inline-styles.html %}

         {% include mobmenubar.html %}

         {{ content }}


     <!-------------------------------- Pre-Footer ----------------------------------->
        {% include site-prefooter.html %}

    <!-------------------------------- Footer ----------------------------------->
        {% include site-footer.html %}

    <!------------------------------Script ---------------------------->
        {% include body-scripts.html %}

</body>



</html>